{% load bootstrap5 %}
{% load static %}
<link rel="stylesheet" href="https://fonts.google.com/">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}
{% include 'status.html'%}
{% block content %}
<br><br>
<div class="d-flex container mx-auto justify-content-around">
    <div style="max-width: 50%;">
    {% for post in post %}
    <img src="{{post.image.url}}" class="img-fluid" alt="Image" data-bs-toggle="modal"
        data-bs-target="#exampleModal{{post.id}}" style="max-height: 20rem;">
    <p>{{post.content|safe}}  - <small>{{ post.date_posted }}</small> </p>
    <div class="img">
        <a class="navigation-link notifica" a href="comment/{{post.id}}"><i class="fa fa-comment"
                aria-hidden="true"></i></a>
        <a class="navigation-link notifica">
            {% if post in liked_posts%}
            <a class="navigation-link notifica" href="{% url 'like' post_id=post.id%}"><i
                    class="far fa-heart"></i></i></a>
            {% else %}
            <a class="navigation-link notifica" href="{% url 'like' post_id=post.id%}"><i class="far fa-heart"></i></a>
            {% endif %}
            <a class="navigation-link notifica" href=""><i class="fas fa-save" aria-hidden="true"></i></a>
            <p class="ps-5 ms-4"><strong> {{ post.likes.count }} like{{ post.likes.count | pluralize}}</strong></p>
            </p>
        </a>
        {% for comment in post.comments.all %}
                <div>
                    <p>{{comment.comment}}</p>
                </div>
                {% endfor %}
            <form action="/comment/{{post.id}}" method="post" class="w-25 ms-5">
                {%csrf_token%}
                {% bootstrap_form form%}
                    {{form.errors}}
                    <input type="submit" class="btn btn-info btn-sm" value="Comment" name="user" >
            </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{post.title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{post.content|safe}}</p>
                    <img src="{{post.image.url}}" class="img-fluid" alt="Image" height="300vh" width="100">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="d-flex flex-column" style="min-width: 30%;">
        <div class="image d-flex align-items-center">
            {%if user.profile.profile_pic %}
            <img src="{{ user.profile.profile_pic.url }}" alt="" class="rounded-circle"
                style="width: 100px; height: 100px; ">
            {%else%}
            <img src="/static/images/user (2).png" alt="" style="width: 100px; height: 100px; border-radius: 50%;">
            {%endif%}
            <div class="name">
                <a href="#" class="username ms-2">{{user.username}}</a>
            </div>
        </div>
        <hr>Suggestions For You
        <div class="center">
            <div class="container">
                {% for users in all_users %}
                {% if users.profile_pic %}
                <div class="d-flex align-items-center">
                    <img class="img-fluid mb-2 me-2" src="{{ users.profile_pic.url }}" class="rounded-circle"
                        style="width: 50px; height: 50px; border-radius: 50%;"/>
                        <span>{{users}}</span>
                        <div class="logout ms-4">
                                {% if user in followed %}
                                <a href="{% url 'follow' user_id=user.id %}" class="text-danger text-muted">Unfollow</a>
                                {% else %}
                                <a href="{% url 'follow' user_id=user.id %}">Follow</a>
                                {%endif%}
                            </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}