{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<body>
    <div class="main">
        <div class="header">
            <div class="top">
            <div class="logo">
                <img src="/static/images/instagram.png" alt="instagram" style="width: 175px;">
            </div>
                <p>Sign up to see photos and videos from your friends.</p>
                <button><i class="fab fa-facebook-square"></i>Log in with Facebook</button>
            <div class="or">
                <div class="line"></div>
                <p>OR</p>
                <div class="line"></div>
            </div>
<!-- form -->
                <form class="form" method="POST" action="">
                    {% csrf_token %}
<!-- username -->
                <div class="input_field">
                    {{form.username}}
                </div>
<!-- email -->
                <div class="input_field">
                    {{form.email}}
                </div>
<!-- password1 -->
                <div class="input_field">
                    {{form.password1}}
                </div>
<!-- password1 -->
                <div class="input_field">
                    {{form.password2}}
                </div>
<!-- info -->
                <div class="info-box">
                    <span>People who use our service may have uploaded your contact information to Instagram. <a href="#">Learn
                    More</a></span>
                </div>
<!-- terms -->
                <ul class="terms-list">
                    <li>By signing up, you agree to our</li>
                    <li><a href="">Terms</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li>and</li>
                    <li><a href="">Cookies Policy</a></li>
                </ul>
<!-- sign up btn -->
                <div class="btn">
                    <button type="submit" value="Sign up">Sign up</button>
                </div>
                </form>
                </div>
            {{form.errors}}
            <div class="signin">
                    <p>Have an account? <a href="{% url 'login' %}">Login</a> </p>
            </div>
        <div class="apps">
            <p>Get the app.</p>
            <div class="icons">
                <a href="#"><img src="/static/images/appstore.png" alt="appstore"></a>
                <a href="#"><img src="/static/images/googleplay.png" alt="googleplay"></a>
            </div>
        </div>
    <div class="footer">
        <div class="links">
            <ul>
                <li><a href="#">Meta</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">API</a></li>
                <li><a href="#">Cookies Privacy</a></li>
                <li><a href="#">DIRECTORY</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Locations</a></li>
                <li><a href="#">Instagram Lite</a></li>
                <li><a href="#">Threads</a></li>
                <li><a href="#">Contact Uploading & Non-users</a></li>
                <li><a href="#">Meta Verified</a></li>

            </ul>
        </div>
    </div>
    <p>© 2024 INSTAGRAM</p>

</div>
</body>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Username..';
    form_fields[2].placeholder = 'Email..';
    form_fields[3].placeholder = 'Enter password...';
    form_fields[4].placeholder = 'Re-enter Password...';


    for (var field in form_fields) {
        form_fields[field].className += ' form-control'
    }
</script>