* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}

body {
	background: #fafafa;
	font-size: 14px;
}

.main .header {
	max-width: 350px;
	width: 100%;
	height: auto;
	margin: 50px auto;
}

.main .header .top,
.main .signin {
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
	padding: 40px 40px 20px;
}

/* logo */
.main .header .logo img {
	display: block;
	margin: 0 auto 35px;
	cursor: pointer;
}

.main .header .sub-title {
	font-weight: bold;
	color: #737373;
	font-size: 16px;
	text-align: left;
	margin-top: -10px;
}

.main .header .top button {
			display: block;
			width: 100%;
			font-size: 16px;
			font-weight: bold;
			background-color: #0095F6;
			color: #fff;
			border: none;
			border-radius: 5px;
			margin: 10px 0;
			padding: 10px 20px;
			cursor: pointer;
			transition: background-color 0.2s ease-in-out;
}

.main 
.header 
.or {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 15px;
	margin: 15px 0 20px;
}

.main 
.header 
.or 
.line {
	width: 105px;
	height: 2px;
	background: #efefef
}

.main 
.header 
.or 
p {
	color: #737373;
	font-size: 12px;
	font-weight: bold;
}


.main 
.header 
.form 
.input_field input[type="text"],
.input_field input[type="email"],
.input_field input[type="password"] {
	margin-bottom: 5px;
}

.main 
.header 
.form 
.input_field input[type="text"], 
.input_field input[type="email"],
.input_field input[type="password"] {
	width: 100%;
	background: #fafafa;
	border: 1px solid #efefef;
	font-size: 12px;
	border-radius: 3px;
	color: #262626;
	padding: 12px;
	margin: 5px 0;
}

.main 
.header 
.form .input_field input[type="text"],
.input_field input[type="email"],
.input_field input[type="password"] {
	border: 1px solid #b2b2b2;
}


.info-box {
	display: flex;
	align-items: center;
	padding: 5px 10px;
	font-size: 11px;
}

.info-box span {
	color: #737373;
}

.info-box a {
	font-weight: normal;
	color: #00376B;
	text-decoration: none;
}



ul.terms-list {
	display: flex;
	list-style: none;
	margin: 5px 10px;
	padding: 0;
	flex-wrap: wrap;
	color: #737373;
	font-size: 11px;
}

ul.terms-list li {
	margin-right: 5px;
}

ul.terms-list li:last-child {
	margin-right: 0;
}

ul.terms-list li a {
	text-decoration: none;
	color: #00376B;
	font-weight: normal;
}

ul.terms-list li a:hover {
	color: #00a0f7;
}


/* button */
.main .header .form .btn button {
	display: block;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	background-color: #4cb5f9;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin: 10px 0;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}


.main .signin {
	margin: 10px 0 20px;
	padding: 25px 40px;
	text-align: center;
	color: #262626;
}

.signin p > a {
	text-decoration: none;
	color: #0095F6;
	font-weight: bold;
	font-size: 14px;
}

.main .apps {
	text-align: center;
	color: #262626;
}

.main .apps p {
	margin-bottom: 20px;
}

.main .apps a img {
	width: 135px;
	height: 40px;
	margin: 0 5px;
}

/* footer */
.footer {
	padding: 10px 0;
	margin-top: 40px;
}

.links ul {
	display: flex;
	list-style: none;
	margin: 0;
	justify-content: center;
	padding: 0;
	white-space: nowrap;
}

.links li {
	margin-right: 15px;
}

.links li:last-child {
	margin-right: 0;
}

.links a {
	color: #333;
	text-decoration: none;
	font-size: 0.8rem;
	font-size: 0.75rem;
	white-space: nowrap;
}

.copy .copyright {
	color: #737373;
	font-size: 14px;
	text-align: center;
}